*{
    margin: 0;
}
nav a img{
    width: 2.5cm;
}
nav:hover a img{
    width: 1.8cm;
    transition-duration: 1000ms;
}
nav{
    padding-left: 1%;
    padding-top: 1rem;
    height: 1cm;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin-right: .5cm;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    text-decoration: none;
    color: rgb(105, 8, 8);
    transition-duration: 700ms;
}